.Inclusive-comment-sidebar {
  /* position: sticky;
  right: 250px;
  top: 150px; */
  height: auto;
  width: 425px;
  z-index: 99;
  padding: 1.4rem 1rem 0.1rem 1.4rem;
  transition: 350ms ease right;
  overflow-y: auto !important;
  overflow-x: hidden;
  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
}

.Inclusive-comment-sidebar.visible {
  box-shadow: 0 0 60px 100000px rgba(0, 0, 0, 0.12);
}

.Inclusive-comment-sidebar.hidden {
  display: none;
}

.sidebar-top-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;

}

.sidebar-top-block h3 {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}

.sidebar-top-block svg {
  color: rgb(66, 66, 66);
  cursor: pointer;
  margin-top: -8px;
}

.MdClose {
  font-size: 1.5rem;
   transform: rotate(1deg); 
  margin-left: 11px;
  font-color: white;
}

.addComment-form {
  margin-bottom: 2.5rem;

  transition: padding-top 400ms ease 0s, padding-bottom 400ms ease 0s;
  padding: 1rem;
  position: relative;
  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
}

.addComment-form .activeuser-info {
  margin-bottom: 20px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;
  overflow: hidden;
  max-height: 100px;
  transition: max-height 0.15s ease-out;
}

.addComment-form .activeuser-info.hidden {
  max-height: 0;
  transition: max-height 0.25s ease-in;
  margin-bottom: 0;
}

.addComment-form .activeuser-info img {
  border-radius: 50%;
  margin-right: 10px;
  width: 34px;
  height: 34px;
}

.textarea-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 35px;
  cursor: text;
  color: whitesmoke;
}

.textarea-wrapper div#comment {
  outline: 0;
  padding: 5px;
  overflow: hidden;
  min-height: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.01px;
}

.textarea-wrapper div#comment:empty:before {
  content: attr(placeholder);
  color: #ccc;
}

.form-bottom-block {
  display: flex;
  justify-content: space-between;
  max-height: 85px;
  overflow: hidden;
  margin-top: 35px;
  transition: max-height 0.15s ease-out;
}

.form-bottom-block.hidden {
  max-height: 0;
  margin-top: 0;
  transition: max-height 0.25s ease-in;
}

.formBtn-wrapper .cancel-Btn {
  border: 1px solid rgb(56, 162, 170);
  padding: 6px 10px;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 13px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
  font-family: "Mukta", sans-serif;

}

.formBtn-wrapper .respond-Btn {
  border: 1px solid rgb(56, 162, 170);
  background-color: none;
  border-radius: 3px;
  padding: 6px 10px;
  letter-spacing: 0.5px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Mukta", sans-serif;
  transition: 350ms ease;
}

.formBtn-wrapper .respond-Btn:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(56, 162, 170);
}

.sidebar-top-block div svg {
  fill: white;
}

h5 {
  color: white;
}

.formBtn-wrapper .respond-Btn.disable {
  opacity: 0.5;
}

.StarRating-wrapper svg {
  cursor: pointer;
}

.alert-success-message {
  position: absolute;
  top: 18px;
  font-family: "Inter";
  right: 19px;
  font-size: 0.8rem;
  z-index: 5;
  font-weight: bold;
  color: rgb(0, 102, 0);
  padding: 3px 6px;
  background-color: rgba(185, 185, 185, 0.2);
}

.alert-error-message {
  font-family: "Inter";
  font-size: 0.7rem;
  z-index: 5;
  font-weight: bold;
  z-index: 52;
  margin-bottom: 11px;
  color: rgb(138, 1, 12);
  padding: 3px 6px;
  background-color: rgba(185, 185, 185, 0.2);
}

.alert-success-message svg {
  font-size: 1.3rem;
  margin-right: 6px;
}

h3 {
  color: white;
}

.comment-item {
  margin-bottom: 2.5rem;

  transition: padding-top 400ms ease 0s, padding-bottom 400ms ease 0s;
  padding: 1rem;
  position: relative;
  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
}

.biLike svg {
  fill: white;
}

.commentlikeCount {
  color: white;
}
