@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap&family=Hammersmith+One&family=Londrina+Solid:wght@900&display=swap");

body {
  background-color: rgb(22, 22, 22);
}

.story-card-wrapper {
  position: relative;
  min-height: 850px;
  width: 1000px;
  margin: 1.2rem auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story-card {
  width: 30%;
  z-index: 90;
  position: relative;
  color: white;
  height: 460px;
  border-radius: 6px;
  /* margin: 2rem 1rem; */
  margin-bottom: 2rem;
  border: 1px solid rgba(121, 118, 118, 0.3);
  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: 350ms ease all;
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);

}

.searchCat {
  z-index: 10000;
}

@media only screen and (max-width: 1050px) {
  .story-card-wrapper {
    width: 100%;
    justify-content: space-evenly;
  }
  .story-card {
    width: 45%;
  }

  /* .categoryHome {
    width: 100%;
  } */
}

@media only screen and (max-width: 674px) {
  .story-card {
    width: 380px;
  }
  .bigCatHome {
    display: none;
  }
  /* .categoryHome {
    max-width: 674px;
  } */
}

.story-card:hover {
  transform: scale(1.1);
}
/* -webkit-box-shadow: 0px 0px 116px 0px rgba(100, 109, 209, 0.62);
  -moz-box-shadow: 0px 0px 116px 0px rgba(100, 109, 209, 0.62);
  box-shadow: 0px 0px 116px 0px rgba(100, 109, 209, 0.62);
} */

.story-card-wrapper:hover > .story-card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.story-card a.story-link {
  text-decoration: none;
}

.story-card img.story-image {
  width: 100%;
  height: 225px;
  border-radius: 6px 6px 0 0;
  object-fit: cover;
}

.story-card .story-content-wrapper {
  padding: 15px;
}

.story-card h5.story-title {
  font-size: 1.4rem;
  line-height: 30px;
  height: 87px;
  letter-spacing: 0.6px;
  color: rgb(56, 162, 170);
  text-shadow: 0 0 5px black;
  padding: 10px 3px;
  font-weight: bold;
  margin-bottom: 1.2rem;
  word-wrap: break-word;
  font-family: "Hammersmith One", sans-serif;
  font-family: "Londrina Solid", cursive;
}

.story-card .story-text {
  height: 50px;
  overflow: hidden;
  word-wrap: break-word;
}

.story-card .story-text,
.story-card .story-text * {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: normal;
}

.story-card .story-createdAt {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.story-createdAt {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  margin: 2rem;
  padding-bottom: 15px;
}

.Inclusive-home-page {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-align: center;
  padding: 50px;
}

.pagination button {
  color: white;
  border-radius: 6px;
  margin: 2rem 1rem;
  border: 1px solid rgba(121, 118, 118, 0.3);

  transition: 350ms ease all;

  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
}

.pagination button:hover {
  transform: scale(1.1);
}

.fa-angle-left {
  font-size: 25px;
  color: white;
  margin-left: 1em !important;
  margin-top: 0.5em !important;
}
.categoryHome {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4em;
  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
  margin: 0 auto;
  padding: 1em;
  align-items: center;
  z-index: 1000;
}

.bigCatHome {
  width: 69.5%;
  margin: 0 auto;
}

.arrowleft {
  display: flex;

  /* padding-top: 4px; */
}

