.Inclusive-login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.login-big-wrapper {
  width: 40%;
  max-width: 1100px;
  height: 90%;
  /* border-radius: 9px; */

  display: flex;
  justify-content: space-between;
  position: relative;

  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
}

.section-wrapper {
  width: 95%;
  padding: 2.6rem 4rem;
  margin: 0 auto;
}

@media only screen and (max-width: 860px) {
  .login-banner-section {
    display: none;
  }
  .section-wrapper {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    padding: 1.7rem 10vw;
  }
  .login-big-wrapper {
    width: 80%;
    padding: 2.2rem 0;
  }
}

.top-suggest_register {
  font-size: 0.8rem;
}

.top-suggest_register span {
  color: #abb8c5;
  margin-right: 8px;
}

.top-suggest_register a {
  font-size: 0.7rem;
  color: rgb(56, 162, 170);
  text-decoration: none;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.top-login-explain {
  margin-top: 4vw;
}

.top-login-explain h2 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-bottom: 1.4rem;
  font-size: 2.4rem;
  font-family: "Signika Negative", sans-serif;
  color: rgb(56, 162, 170);
}

.top-login-explain p {
  color: #afafaf;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
}

.login-big-wrapper form {
  position: relative;
  padding-top: 1.3rem;
}

.login-big-wrapper form label {
  position: absolute;
  top: -10px;
  left: 14px;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  background-color: white;
  color: #646464;
  padding: 0 6px;
}

.login-big-wrapper form .input-wrapper {
  position: relative;
}

.login-big-wrapper form input {
  outline: 0;
  width: 100%;
  margin-bottom: 1.9rem;
  padding: 18px;
  padding-top: 22px;
  border: #dadcdd solid 1px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #646464;
}

.login-big-wrapper form input:focus-within {
  border: rgb(56, 162, 170) solid 1px;
}

.login-big-wrapper form input:focus + label {
  color: rgb(56, 162, 170) !important;
}

.login-screen__forgotpassword {
  float: right;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  margin-top: -13px;
  color: rgb(56, 162, 170);
  font-weight: 600;
  cursor: pointer;
  padding: 3px 6px;
}

.login-big-wrapper form button {
  cursor: pointer;

  outline: 0;
  background-color: rgb(56, 162, 170);
  width: 100%;
  text-align: center;
  color: white;
  padding: 15px;
  border-radius: 6px;
  margin-top: 14px;
  letter-spacing: 0.4px;
  transition: 450ms ease;
}

.login-big-wrapper form button:hover {
  color: rgb(56, 162, 170);
  text-decoration: none;
  background-color: white;
  border: 1px solid rgb(56, 162, 170);
}

.error_message {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  margin-top: -1.2rem;
  background-color: rgba(245, 72, 72, 0.9);
  color: white;
  padding: 8px;
  font-size: 0.9rem;
  text-align: center;
}

.back_home {
  color: rgb(56, 162, 170);
  font-size: 2.1rem;
  position: absolute;
  top: 10px;
  left: 18px;
}
.fa-angle-left {
  font-size: 30px;
  color: white;
}
