body {
}

.allroundBox {
  position: relative;
  text-align: center;
  /* color: white; */
  padding-bottom: 10em;
  margin: 0 auto;
}

.notFound {
  /* position: fixed; */
  margin: 0 auto;
  margin-top: -5em;
  /* left: 0; */
  /* z-index: -5; */
  width: 100%;
  /* opacity: 70%; */
  -webkit-mask-image: -webkit-gradient(
    linear,
    left center,
    right center,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.scriptHead {
  display: hidden !important;
}

.backBtn {
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-70%, -55%);
  width: 155px;
  border: 1px solid rgb(56, 162, 170);
  background-color: black;
  border-radius: 3px;

  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mukta";
  transition: 450ms ease;
  font-size: 0.9rem;
}

.backBtn a {
  color: white !important;
  text-decoration: none !important;
}
.backBtn:hover {
  color: white !important;
  text-decoration: none !important;
  background-color: rgb(56, 162, 170);
}
