@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
.Inclusive_profile_page {
  position: relative;
  width: 1000px;
  margin: 2.8rem auto;
  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
}

.profile-top-wrap {
  padding: 22px 25px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-top: 4px dotted rgba(102, 102, 102, 0.3);
  border-bottom: 4px dotted rgba(102, 102, 102, 0.3);
}

.profile-top-wrap span {
  color: rgb(56, 162, 170);
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.profile-top-wrap a {
  text-decoration: underline;
  color: rgb(255, 254, 254);
  font-size: 0.8rem;
  padding-top: 1px;
}

.Inclusive_profile_page ul {
  list-style-type: none;
  padding: 22px 25px;
}

.Inclusive_profile_page ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5px;
  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
  margin-bottom: 1em;
}

.Inclusive_profile_page ul li span {
  color: #ffffff;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
}

.Inclusive_profile_page ul li div {
  width: 222px;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1030px) {
  .Inclusive_profile_page {
    width: 94%;
  }
  .Inclusive_profile_page ul li div {
    font-size: 0.9rem;
    width: 175px;
  }
}

.btns_wrap {
  display: flex;
  padding: 25px 0;
  justify-content: flex-start;
}

.btns_wrap button {
  all: unset;
}

.btns_wrap .profileEditBtn a {
  margin-left: 2rem;
  width: 155px;
  border: 1px solid rgb(56, 162, 170);
  background-color: none;
  border-radius: 3px;
  color: white;
  height: 45px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mukta";
  transition: 450ms ease;
  font-size: 0.9rem;
}

.profileEditBtn a:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(56, 162, 170);
}

.changePassBtn a {
  margin-left: 2rem;
  width: 155px;
  border: 1px solid rgb(56, 162, 170);
  background-color: none;
  border-radius: 3px;
  color: white;
  height: 45px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mukta";
  transition: 450ms ease;
  font-size: 0.9rem;
}

.changePassBtn a:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(56, 162, 170);
}

.fa-angle-left {
  font-size: 25px;
  color: white;
  margin-left: 3em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
