.Inclusive-resetPassword-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Inclusive-resetPassword-page h3 {
  font-family: "Inter";
  margin-bottom: 2.1rem;
  font-weight: bolder;
  text-align: center;
  font-family: "Staatliches", cursive;
  font-size: 2.2rem;
  letter-spacing: 0.8px;
  color: rgb(56, 162, 170);
}

.Inclusive-resetPassword-page form {
  padding: 4.2rem 3.2rem;
  height: 500px;
  /* background-color: white;
  border-radius: 11px; */
  width: 520px;

  border-radius: 6px;
  margin: auto;
  border: 1px solid rgba(121, 118, 118, 0.3);

  background: rgba(102, 102, 102, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(102, 102, 102, 0.3);
}

.Inclusive-resetPassword-page form .input-wrapper {
  position: relative;
  margin-bottom: 18px;
  padding: 6px;
}

.Inclusive-resetPassword-page form .input-wrapper input {
  outline: 0;
  width: 100%;
  border: #d1d1d1 solid 1px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #252525;
  padding: 24px 0 16px 16px;
}

.Inclusive-resetPassword-page form .input-wrapper label {
  position: absolute;
  top: -5px;
  left: 14px;
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  background-color: white;
  color: #646464;
  padding: 0 8px;
}

.Inclusive-resetPassword-page form input:focus-within {
  border: #0205b1 solid 1px;
}

.Inclusive-resetPassword-page form input:focus + label {
  color: #0205b1 !important;
}

.resetPass-btn {
  width: 100%;
  padding: 0.7rem;
  margin-top: 1.9rem;
  margin-bottom: 1.9rem;
  border-radius: 6px;
  font-size: 1.1rem;

  border: 1px solid rgb(56, 162, 170);
  background-color: rgb(56, 162, 170);
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mukta";
  transition: 450ms ease;
  cursor: pointer;
}

.resetPass-btn:hover {
  color: rgb(56, 162, 170);
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(56, 162, 170);
}

.Inclusive-resetPassword-page form .error_msg {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  background-color: rgba(245, 72, 72, 0.9);
  color: white;
  padding: 8px;
  font-size: 0.9rem;
  text-align: center;
}

.Inclusive-resetPassword-page form .success_msg {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  background-color: rgba(14, 218, 75, 0.9);
  color: white;
  padding: 8px;
  font-size: 0.9rem;
  text-align: center;
}

.Inclusive-resetPassword-page form .success_msg a {
  color: black;
  font-weight: bold;
  padding-left: 1rem;
}

.fa-angle-left {
  font-size: 25px;
  color: white;
  margin-left: 3em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
